.edit-ingredient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c7ae0;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
.edit-ingredient.show {
  transform: translateX(0);
}
.sidebar-header {
  background-color: #293846;
  height: 156px;
  width: 220px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
