.container {
  width: auto;
}
.content {
  width: auto;
  background-color: #f8f9fa;
}
.head_content {
  margin: 20px;
  display: flex;
  gap: 15px;
}
.left {
  background-color: #ffffff;
  padding: 30px 28px;
  width: 275px;
  height: 327px;
  color: #aaaaaa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.avata {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[name="up_img"] {
  display: none;
  border: 1px solid #eeeeee;
  padding: 10px;
  width: 100%;
  font-size: 13px;
}
.push_img {
  border: 1px solid #eeeeee;
  color: #676a6c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 3px;
  font-size: 11.06px;
  font-weight: 600;
}
.push_img img {
  margin-right: 10px;
}
.my_recipes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 7.25px 10px;
}
.my_recipes img {
  margin-right: 10px;
  width: auto;
}
.my_recipes p {
  color: #2ba0cc;
  font-weight: bold;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235px;
}
.heart {
  border: 1px solid #eeeeee;
  padding: 6px 7px;
  border-radius: 5px;
}
.heart img {
  margin-right: 17.38px;
}
.bottom {
  width: 108px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 100%;
}
.bottom .new {
  border: 1px solid #eeeeee;
  font-size: 11.06px;
  padding: 7px;
}
.new {
  cursor: pointer;
}
.new:hover {
  background-color: rgb(132, 57, 71);
  color: white;
  transition: ease 2s;
}
.bottom img {
  width: 12px;
  height: 13px;
  margin-right: 8px;
}
.bottom select {
  width: 100%;
  height: 100%;
  border: 1px solid #eeeeee;
  padding: 7px;
  color: #676a6c;
}
select:focus {
  outline: none;
}
.right {
  width: 100%;
}
.pushlish {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #888888;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.title h2 {
  color: #676a6c;
  font-weight: 500;
  font-size: 20px;
}
.title p {
  font-size: 11.81px;
}
.pushlish button {
  background-color: #1ab394;
  color: #ffffff;
  padding: 7.5px 13px;
  border: none;
  border-radius: 3px;
}
.basic {
  margin-top: 25px;
  padding: 20px;
  background-color: #ffffff;
  color: #888888;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 398px;
}
.basic h2 {
  color: #676a6c;
  font-size: 20px;
  font-weight: 400px;
  margin-bottom: 5px;
}
.basic p {
  color: #999;
  font-size: 12px;
  margin-bottom: 15px;
}
.tr {
  display: flex;
  border: 1px solid #eeeeee;
  margin-bottom: 7px;
}
.tr span {
  width: 200px;
  background-color: #eeeeee;
  padding: 11px;
}
input:focus {
  outline: none;
}
.tr input {
  width: 100%;
  border: none;
  padding: 12px 10px;
  color: #888888;
}
.tr .img {
  background-color: #eeeeee;
  width: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.creation {
  margin-top: 25px;
  background-color: #1ab394;
  color: #ffffff;
  border-radius: 5px;
  padding: 11px 15px;
}
.creation p {
  font-size: 10.8px;
  font-weight: 300;
}
/* mdmdm */
.ingredients {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
}

.left_ingredients {
  width: 100%;
  margin-top: 25.44px;
  border-radius: 5px;
}
.ingredients_list {
  background-color: #ffffff;
  font-size: 12px;
  color: #888888;
  /* margin: 25.44px 15px; */
  border-radius: 5px;
  padding: 20px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.ingredients_list span {
  font-size: 20px;
  color: #676a6c;
}
.list {
  margin-top: 16px;
}
.text_ingredients {
  color: #585858;
  padding: 10px 11px;
  border: 1px solid #eeeeee;
  margin-bottom: 16px;
}
.cooking_method {
  border-radius: 5px;
  margin-top: 25px;
  background-color: #ffffff;
  padding: 20px 20px;
  color: #676a6c;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.cooking_method span {
  font-size: 20px;
}
.cooking_method input {
  font-size: 12px;
  padding: 11px 10px;
  width: 100%;
}

.cooking_method div {
  margin-top: 15px;
  display: flex;
  border: 1px solid #eeeeee;
}
.cooking_method div span {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  font-size: 14.3px;
}

.cooking_method .img_cooking {
  width: 39px;
  margin: 0;
  height: auto;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_cooking img {
  width: 18px;
  height: 18px;
}

.right_ingredients {
  /* flex: 1; */
  margin: 25.44px;
  margin-right: 0;
  width: auto;
  color: #888888;
}
.right_ingredients span {
  font-size: 20px;
  color: #676a6c;
}
.energy {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #676a6c;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}
.analysis {
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.energy span {
  font-size: 13px;
}
.energy p span {
  font-weight: bold;
}
.chart {
  display: flex;
  margin-bottom: 20px;
}
.nutrition {
  width: 90px;
  height: 90px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.nutrition span {
  align-items: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.fat {
  border: 10px solid #f3f3f4;
  border-radius: 50%;
}
.carbohydrate {
  border: 10px solid #ea9f77;
  border-radius: 50%;
}
.protein {
  border: 10px solid #f3f3f4;
  border-radius: 50%;
}
.fiber {
  border: 10px solid #6a7d93;
  border-radius: 50%;
}
.macronutrients {
  height: 387px;
  background-color: #ffffff;
  margin-top: 25px;
  padding: 20px 20px;
  color: #888888;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.macronutrients h2 {
  font-size: 24px;
}
.chart-container {
  position: relative;
  width: 250px;
  color: #676a6c;
  margin: 20px auto;
}
.pie-chart {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #db4965 0% 33.3%,
    #e8a878 33.3% 66.6%,
    #17a589 66.6% 100%
  );
  position: relative;
  transition: background 0.3s ease;
}

.label {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.carb-label {
  top: 70%;
  left: 50%;
}

.legend {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  padding-bottom: 30px;
}

.legend div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.legend span {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 3px;
}

.table-container {
  color: #676a6c;
  margin: 20px auto;
  background: white;
  padding: 18px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.table-container h2 {
  font-size: 20px;
}
.table-container p {
  color: #888888;
  font-size: 12px;
}
table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
table span {
  color: #717171;
  font-weight: bold;
}
td:nth-child(2) {
  text-align: right;
}
table td:nth-child(2) span {
  font-size: 13px;
}
.row1 {
  display: flex;
  width: 100%;
  align-items: center;
}
input:focus {
  outline: none;
}
input {
  border: none;
}
.column1 {
  margin-top: 15px;
  width: 100%;
}
.column1 .img {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #eeeeee;
}
.column1 .img div {
  width: 39px;
  height: 39.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}
.img input {
  width: 100%;
  padding: 11px 10px;
}
.column1 p {
  padding: 10px 11px;
  color: #585858;
  font-size: 13px;
  height: 40.5px;
  border: 1px solid #eeeeee;
  font-weight: bold;
}
.delete {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 80px;
  /* border: 1px solid #eeeeee; */
  background-color: #eeeeee;
}
.search {
  margin-top: 17px;
  color: #676a6c;
  background-color: #fafafb;
  border: 1px solid #eeeeee;
}
.input_search {
  display: flex;
  align-items: center;
  border: 1px solid #eeeeee;
}
.img_search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39.5px;
  background-color: #f3f3f4;
}
.input_search input {
  padding: 11px 9px;
}
.search-bar {
  padding: 15px 16px;
  font-size: 13px;
  color: #676a6c;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.search-bar input {
  padding: 8px 13px;
  border: 1px solid #eeeeee;
  height: 34px;
}
.sort {
  display: flex;
  flex-wrap: nowrap;
}
.sort img {
  height: auto;
  padding: 7px 9px;
  border: 1px solid #eeeeee;
}
.nutritional_table {
  margin: 15px 16px;
}
.table_head {
  display: flex;
  background-color: #fafafb;
}
.table_head span {
  font-size: 13px;
  color: #282828;
  padding: 18px 16px;
  border: 1px solid #eeeeee;
}
.table_head span:nth-child(1) {
  width: 50%;
}
.table_head span:nth-child(2) {
  width: 15%;
}
.table_head span:nth-child(3) {
  width: 15%;
}
.table_head span:nth-child(4) {
  width: 20%;
}
.table_body span {
  font-size: 13px;
  color: #282828;
  font-weight: 300;
}
.table_body {
  border: 1px solid #eeeeee;
  padding-left: 13px;
  padding-top: 11.5px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.table_body .row {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.row span:nth-child(1) {
  font-size: 13px;
  font-weight: 500;
}
.row_input {
  padding: 11px 5px;
  display: flex;
}

.row_input span {
  font-weight: 400;
  color: #282828;
  border: 1px solid #eeeeee;
  padding: 7px 12px;
  width: 58px;
  height: 30px;
}
.row_input span:nth-child(2) {
  width: 100%;
}
.number {
  /* width: 100%; */
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 30px; */
}
.table_body .add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1ab394;
  height: 100px;
  width: 20px;
}
.add span {
  color: #ffffff;
}
.page {
  margin-top: 15px;
  display: flex;
  justify-content: end;
}
.page button {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  width: 35px;
  height: 30px;
  margin-bottom: 20px;
}
.update-avata {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
